env/

# LOGS Y ARCHIVOS DESCARGADOS
# PUNTO RED
resources/punto_red/archivos/*
!resources/punto_red/archivos/.gitkeep

resources/punto_red/logs/*
!resources/punto_red/logs/.gitkeep

# BANCO BOGOTA
resources/banco_bogota/archivos/*
!resources/banco_bogota/archivos/.gitkeep

resources/banco_bogota/logs/*
!resources/banco_bogota/logs/.gitkeep

# COFRES INTELIGENTES
resources/cofres_inteligentes/archivos/*
!resources/cofres_inteligentes/archivos/.gitkeep

resources/cofres_inteligentes/logs/*
!resources/cofres_inteligentes/logs/.gitkeep

# COFREM
resources/cofrem/archivos/*
!resources/cofrem/archivos/.gitkeep

resources/cofrem/logs/*
!resources/cofrem/logs/.gitkeep

# __PYCHACHE__
src/services/__pycache__
src/__pycache__
src/robots/__pycache__
src/settings/__pycache__


# ENTORNO
.env

# scripts - .sh
src/scripts/logs/*
src/scripts/logs/.gitkeep